.tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    background-color: #E60000;
    padding: 15px 8px;
    border-radius: 3px;
    color: white;
    font-size: 0.8rem;
    pointer-events: none;

    & .tooltip-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.bars-chart {
    display: flex;
    justify-content: center;
    align-content: center;
}