@use '/src/assets/styles/variables.module.scss' as *;

.score-circle {

}

.percent {

    font-weight: bold;
    fill: $darkgrey;
    font-size: 1.5rem;
}

.details {
    font-weight: 500;
    fill: $lightgreytext;
}