$red: #E60000;
$darkgrey: #282D30;
$lightgrey: #ccc;
$lightbackground: #FBFBFB;
$lightgreytext: #74798C;

:export {
    red: $red;
    darkgrey: $darkgrey;
    lightgrey: $lightgrey;
    lightbackground: $lightbackground;
    lightgreytext: $lightgreytext;
}